<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598638334630-ufk0v38cvo9djoi9b45541gsu4k1l5su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598638334630-ufk0v38cvo9djoi9b45541gsu4k1l5su</string>
	<key>API_KEY</key>
	<string>AIzaSyDPEF1-V-eA_wcN0uh5CLHypJWveKrW7FA</string>
	<key>GCM_SENDER_ID</key>
	<string>598638334630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fsa.AniQuest</string>
	<key>PROJECT_ID</key>
	<string>aniquest-d38e9</string>
	<key>STORAGE_BUCKET</key>
	<string>aniquest-d38e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598638334630:ios:d71cac0a0abdd9d2d79a67</string>
</dict>
</plist>